{% load staticfiles %}

<!DOCTYPE html>
<!--[if lt 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}Ticketing!{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "ticketing/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "ticketing/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "ticketing/css/main.css" %}">
    <script src="{% static "ticketing/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js" %} "></script>
</head>
<body>
<!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand" href="#">{% if event %} {{ event.name }} Ticketing{% endif %}

            {% if event and user.is_authenticated %} - {% endif %} {% if user.is_authenticated %}User:
                {{ user.username }}{% endif %}</a>
                </div>
        {% if not user.is_authenticated %}
            <div class="navbar-collapse collapse">
                <form id="login_form" class="navbar-form navbar-right" method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" placeholder="Username" name="username" id="id_username" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="Password" name="password" id="id_password"
                               class="form-control">
                    </div>
                    <button type="submit" value="submit" class="btn btn-success">Sign in</button>
                </form>
            </div>
        {% elif user.is_authenticated %}
            <div class="navbar-collapse collapse">
                <form class="navbar-form navbar-right" method="post"
                      action="{% url 'logout' %}?next={{ request.path }}">
                    {% csrf_token %}
                    <button type="submit" value="Logout" class="btn btn-success">Sign out</button>
                </form>
            </div>
        {% endif %}
        <!--/.navbar-collapse -->
    </div>
</div>
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h2>{% block heading %}{% if event.logo %}<img class="img-circle img-thumbnail" src="/media/{{ event.logo }}">{% endif %}{{ event.name }} ticketing {% endblock %}</h2>
    </div>
</div>
<div class="container">
    {% block body %}
        TEMPLATE - THIS IS BODDDYYYY!!
    {% endblock %}
    <hr>
    <footer>
        <p>&copy; NationEvents - {% now "Y" %} </p>
    </footer>
</div>
<!-- /container -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{% static "ticketing/js/vendor/jquery-1.11.0.min.js" %}""><\/script>')</script>

<script src="{% static "ticketing/js/vendor/bootstrap.min.js" %}"></script>
<script src="{% static "ticketing/js/main.js" %}"></script>
</body>
</html>