{% extends "base.html" %}
{% block heading %}Login page{% endblock %}
{% block body %}

<style>form{text-align: center}</style>
        {% if errormsg %}
            <form class="has-error">
            <div class="alert alert-danger">{{ errormsg }}</div>
            <br/>
            </form>
        {% else %}

        {% endif %}
        <form id="login_form" method="post" action="{% url 'login' %}" class="Login-form">
            {% csrf_token %}
            <div class="form-group">
            <input name="username" id="id_username" type="text" class="form-control center Login-input" placeholder="Username"></div><div class="form-group">
            <input name="password" id="id_password" type="password" class="form-control center Login-input" placeholder="Password"></div>
            <br/>

            <div class="btn-group btn-group-sm margin">
                <button class="center btn btn-default" type="submit" value="submit" name="login">Login</button>
                <a href="register.html" class="center btn btn-default">Register</a>

                <div class="btn-group"></div>
                <a type="button" class="center btn btn-default dropdown-toggle" data-toggle="dropdown">Forgot
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">Forgot password</a></li>
                    <li><a href="#">Forgot username</a></li>
                </ul>
            </div>
        </form>




{% endblock %}