{% extends "base.html" %}
{% load tickets_filters %}
{% block body %}
    <div class="step">
        <div class="step-div">
            <div class="step-top">Stap 1</div>
            <div class="step-description">Tickets</div>
        </div>
        <div class="step-active">
            <div class="step-top">Stap 2</div>
            <div class="step-description">Gebruiker</div>
        </div>
        <div class="step-div">
            <div class="step-top">Stap 3</div>
            <div class="step-description">Betaling</div>
        </div>
        <div class="step-div step-last">
            <div class="step-top">Stap 4</div>
            <div class="step-description">Download</div>
        </div>
    </div>
    <hr>

    <div id="Order">
        <form method="post" action="{% url 'mail' event.id %}">
            {% csrf_token %}
            <label class="Order-label" for="first_name">Voornaam: </label>
            <input class="form-control noBlock" name="first_name" id="first_name" value="{{ user.first_name }}"><br/>
            <label class="Order-label" for="last_name">Achternaam: </label>
            <input class="form-control noBlock" name="last_name" id="last_name" value="{{ user.last_name }}"><br/>
            <label class="Order-label" for="email">Email: </label>
            <input class="form-control noBlock" name="email" id="email" value="{{ user.email }}"><br/>
    <p>Huidige winkelmand:</p>
    <table class="table table-bordered table-responsive">
        <tr>
            <td><b>Product:</b></td>
            <td><b>aantal:</b></td>
            <td><b>Prijs:</b></td>
        </tr>
        {% for item in cart %}
            <tr>
                <td>{% get_ticket_from_session_name item %}</td>
                <td>{{ cart|get_item:item }}</td>
                <td>€ {{ subtotal|get_item:item|floatformat:-2 }}</td>
            </tr>
        {% endfor %}
        <tr class="tr">
            <td class="td" colspan="2">Totaal:</td>
            <td class="td">€ {{ total|floatformat:-2 }}</td>
        </tr>
    </table>
            <div class="center margin_terms"><label>
                <input name="terms" type="checkbox" class="checkbox-inline {% if form.fieldname.errors %}has-error{% endif %}">
            </label>
                Ik ga akkoord met de <a onclick="window.open('/termsandconditions', 'newwindow', 'width=300, height=250'); return false;">algemene voorwaarden</a><br/>

                <button type="submit" class="center btn btn-lg">
                    Volgende
                </button>
            </div>
        </form>
    </div>
{% endblock %}