{% extends 'base.html' %}
{% load tickets_filters %}
{% block body %}
    <div class="step">
        <div class="step-active">
            <div class="step-top">Stap 1</div>
            <div class="step-description">Tickets</div>
        </div>
        <div class="step-div">
            <div class="step-top">Stap 2</div>
            <div class="step-description">Gebruiker</div>
        </div>
        <div class="step-div">
            <div class="step-top">Stap 3</div>
            <div class="step-description">Betaling</div>
        </div>
        <div class="step-div step-last">
            <div class="step-top">Stap 4</div>
            <div class="step-description">Download</div>
        </div>
    </div>
    <hr>
    {% if error1 != "" or error2 != "" %}
        <p class="text-danger">{{ error1 }} <br /> {{ error2 }}</p>
    {% endif %}
    <form name="tickets" method="post" action="{% url 'set_items' event.id %}">
    {% csrf_token %}
        <table class="table">
        <td><b>Aantal:</b></td>
        <td><b>Product:</b></td>
        <td><b>Prijs:</b></td>
        <td><b>Totaal:</b></td>
            {% for eventticket in eventtickets %}
                <tr>
                    <td>
                        <label>
                            <input name="{{ eventticket.id }}" id="{{ eventticket.id }}" data-price="{{ eventticket.price }}"
                                            class="input-sm" type="text" value="0"/>
                        </label>
                    </td>
                    <td>
                        {{ eventticket.name }}
                    </td>
                    <td>
                        €{{ eventticket.price|floatformat:-2 }}&nbsp;
                    </td>
                    <td><span id="subtotal-{{ eventticket.id }}"></span></td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="3">
                    Totaal:
                </td>
                <td>
                    <span id="total"></span>
                </td>
            </tr>

        </table>
<button class="btn-lg btn centerMargin">Volgende</button>
    </form>


    <script type="text/javascript">
        function updateTotal(event) {
            var input = $(event.target);
            var value = event.target.value;
            var id = event.target.id;
            $('#subtotal-' + id).html('€ ' + parseFloat(parseFloat(input.data('price').replace(',', '.')) *
                    parseInt(value)).toFixed(2).replace(".00", ""));
            var total = 0;
            $('.input-sm').each(function (index, input) {
                var input2 = $(input);
                var value = input.value;
                total += parseFloat(input2.data('price').replace(',', '.')) * parseInt(value);
            });
            $('#total').html('€ ' + parseFloat(total).toFixed(2).replace(".00", ""));
        }
        $('.input-sm').on("change", updateTotal);
        $.ready($('.input-sm').trigger("change"));
    </script>

{% endblock %}