{% extends "base.html" %}
{% block body %}
    <div class="step">
<div class="step-div">
        <div class="step-top">Step 1</div>
        <div class="step-description">Tickets</div>
    </div>
    <div class="step-active">
        <div class="step-top">Step 2</div>
        <div class="step-description">Gebruiker</div>
    </div>
    <div class="step-div">
        <div class="step-top">Step 3</div>
        <div class="step-description">Betaling</div>
    </div>
    <div class="step-div step-last">
        <div class="step-top">Step 4</div>
        <div class="step-description">Download</div>
    </div>
        </div>
<hr>

    <div id="Order">
        <form method="post" action="{% url 'test' %}">
            {% csrf_token %} <label class="Order-label" for="email">Email: </label>
            <input name="Email" id="email"><br/>

            <div class="center margin_terms">Do you agree to the <a href="#">tems and conditions</a><br/>
                <label for="Yes">Yes
                    <input type="radio" name="terms" value="Yes">
                </label><br><label for="No">No
                    <input type="radio" name="terms" value="No"></label><br/>
                <button type="submit" class="center btn btn-primary btn-lg btn_register">Next</button>
            </div>
        </form>
    </div>
    {% for item in cart %}
        {{ item.value }}
    {% endfor %}
{% endblock %}