{% extends 'base.html' %}
{% block body %}
    <div class="step">
<div class="step-active">
        <div class="step-top">Step 1</div>
        <div class="step-description">Selection</div>
    </div>
    <div class="step-div">
        <div class="step-top">Step 2</div>
        <div class="step-description">User</div>
    </div>
    <div class="step-div">
        <div class="step-top">Step 3</div>
        <div class="step-description">dunno</div>
    </div>
    <div class="step-div step-last">
        <div class="step-top">Step 4</div>
        <div class="step-description">not sure</div>
    </div>
        </div>
<hr>
{% endblock %}