{% extends 'base.html' %}
{% block body %}
    <div class="step">
<div class="step-div">
        <div class="step-top">Stap 1</div>
        <div class="step-description">Ticket</div>
    </div>
    <div class="step-div">
        <div class="step-top">Stap 2</div>
        <div class="step-description">Gebruiker</div>
    </div>
    <div class="step-active">
        <div class="step-top">Stap 3</div>
        <div class="step-description">Betaling</div>
    </div>
    <div class="step-div step-last">
        <div class="step-top">Stap 4</div>
        <div class="step-description">Download</div>
    </div>
        </div>
<hr>
{% endblock %}