/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#Order {
    width: 100%;
    height: auto;
    font-size: 15px;
}

#Order form {
    width: 80%;
    margin: 0 auto;
}

#Order label, input {
    /* in order to define widths */
    display: inline-block;
}

.Order-label {
    width: 30%;
    /* positions the label text beside the input */
    text-align: right;
    margin-bottom: 10px;
}

#Order label + input {
    width: 25%;
    /* large margin-right to force the next element to the new-line
       and margin-left to create a gutter between the label and input */
    margin: 0 30% 0 4%;
}

.center {
    text-align: center;
}

.margin {
    margin-left: 15%;
}

.margin_terms {
    margin-right: 10%;
}

.img_resize {
    max-width: 15%;

}

.step {
    border-bottom: 1px solid #ccc;
    clear: both;
    float: left;
    margin: 13px 0;
    padding: 13px 0;
    width: 100%;
}

.step-active {
    text-decoration: none;
    opacity: 1;
    float: left;
    display: block;
    width: 24%;
    text-align: center;
    border-right: 2px dotted #ccc;
}

.step-div {
    float: left;
    display: block;
    width: 24%;
    text-align: center;
    border-right: 2px dotted #ccc;
    opacity: 0.6;
}

.step-top {
    font-family: sans-serif;
    font-size: 37px;
    line-height: 39px;
}

.step-last {
    border-right: none;
}

.td{
    /*width: 200px;*/
    padding: 0 5px 0 5px;
}
.tr{
    margin: 3px 3px 3px 3px;
    width: 300px;
    height: auto;
}

table{
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.centerMargin{
    margin-left: 40%;
}

.noBlock{
    display: inline-block;
    
}



